.dropdown {
    width: 100%;
    font-size: 18px;
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    .dropdown-selected{
        border: 1px solid rgb(199, 199, 199);
        border-radius: 5px;
        padding: 1rem;
        transition: 200ms;
        &:hover{
            border: 1px solid rgb(145, 145, 145);
        }
    }
    ul.dropdown-items{
        list-style: none;
        width: 100%;
        max-height: 180px;
        overflow-x: hidden;
        overflow-y: scroll;
        position: absolute;
        border:1px solid #eee;
        background: white;
        border-radius: 5px;
        z-index: 999;
        color: #3ecf8e;
        transition: 500ms;
        padding-left:0;
        li {
            padding: 1rem;
        }
    }
}



