@import '../../base';

.instagram-wrapper {
    margin-top: 2rem;
    border-top-right-radius: 300px;
    border-bottom-right-radius: 300px;
    background-color: $success-color-light;
    padding: 1rem 4rem 4rem 4rem;
}
.instagram-images {
    width: 1200px;
    margin: 0 auto;
    img {
        transition: 300ms;
        &:hover {
            transform: scale(1.05);
        }
    }
    div {
        display: flex;
        flex-direction: column;
    }
    .instagram-images-small {
        width: 20%;
        img {
            width: 100%;
        }
    }
    .instagram-images-large {
        width: 40%;
        img {
            width: 100%;
        }
    }
}
