@import '../../base';
.instagram-wrapper {
    //background-color: $success-color-light;
    //background: url('../../assets/wave.svg') no-repeat ;
    //background-position: center;
    background-size: cover;
    padding: 40px 0;
    margin: 3rem 0 ;
}
.instagram-images {
    width: 1200px;
    margin: 30px auto;
    img {
        transition: 300ms;
        &:hover {
            transform: scale(1.05);
        }
    }
    div {
        display: flex;
        flex-direction: column;
    }
    .instagram-images-small {
        width: 20%;
        img {
            width: 100%;
        }
    }
    .instagram-images-large {
        width: 40%;
        img {
            width: 100%;
        }
    }
}
