@import '../../base';
.instagram-wrapper {
    background: url('../../assets/wave2.svg') no-repeat ;
    background-position-y: 550px;
    position: relative;
    padding: 100px;
    transform: rotateX(180deg);
}
.instagram-images {
    transform: rotateX(180deg);
    width: 1200px;
    margin: 30px auto;
    img {
        transition: 300ms;
        &:hover {
            transform: scale(1.05);
        }
    }
    div {
        display: flex;
        flex-direction: column;
    }
    .instagram-images-small {
        width: 20%;
        img {
            width: 100%;
        }
    }
    .instagram-images-large {
        width: 40%;
        img {
            width: 100%;
        }
    }
}
