@import "src/base";
.panel-wrapper{
  position: fixed;
  width: 100%;
  z-index: 3;
  right: 0;
  top: 0;
  height: 100vh;
  .panel {
    background: white;
    width: 500px;
    transition: 500ms;
    right: -500px;
    height: 100vh;
    position: absolute;
    animation: panel-animation;
    animation-duration: 200ms;
    border: 1px solid #eee;
    display: flex;
    flex-direction: column;
    .badge {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35px;
      height: 35px;
      border-radius: 100%;
      background: #3ecf8e;
      color: white;
      cursor: pointer;
    }
    .panel-header {
      display: flex;
      height: 60px;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;
      padding: 0 1.2rem;
    }
    .panel-data {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  }
  .panel-open {
    right:0px;
  }
}

