.card-items {
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.empty-card {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  img {
    width: 60px;
    margin-top: 2rem;
  }
}