@import "src/base";
.input-wrapper {
  text-align: center;
  * {
    margin: 0.3rem 0;
    font-size: 18px;
    font-weight:400;
  }
  input {
    line-height: 45px;
    width: 95%;
    border-radius: $radius;
    padding: 0 0.5rem;
    outline: none;
    border: 1px solid #d4d4d4;
    transition: $default-transition-duration;
    &:focus {
      border: 1px solid gray;
    }
  }
  span {
    color: $danger-color;
    font-size: 14px;
  }
}