@import '../../base';
.button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  line-height: 45px;
  margin: 1rem 0;
  border-radius: $radius;
  &:disabled {
    background: rgba(128, 128, 128, 0.59);
    color: white;
    &:hover {
      background: rgba(128, 128, 128, 0.66);
    }
  }
}
.success {
  background: #3ecf8e;
  transition: $default-transition-duration;
  color: white;
  &:hover{
    background: #39bf83;
  }
}
.white {
  background: white;
  transition: $default-transition-duration;
  border-radius: 20px;
  border: 1px solid #c7c7c7;
  color: black;
  &:hover{
    color: $primary-color;
  }
}