.cart-review {

  .card-item {
    margin:1rem 2rem;
    box-shadow: 0 2px 10px rgba(31,45,61,.16);
    border: none;
    justify-content: left;
    cursor: pointer;
    transition: 300ms;
    &:hover {
      transform: scale(1.01);
      box-shadow: 0 2px 10px rgba(31, 45, 61, 0.44);

    }
    .card-details{
      width: 80%;
      flex-direction: row;
      align-items: center;
      .size-and-type {
        justify-content: space-around;
      }
      .card-item-footer {
        padding: 0;
        width: 180px;
      }
      .remove-item {
        top: 33%;
      }
    }
    img {
      margin-top: 3px;
    }
  }
}