.menu{
    margin:0!important;
    padding: 0!important;
}
.menu-wrapper {
    width: 100%;
    padding-top: 3.5rem;
    left: 0;
    opacity: 0;
    top:55%;
    transition-duration: 200ms;
    position: absolute;
    visibility: hidden;
    z-index: 10;
}
.menu-wrapper > div {
    background-color: white ;
}
.menu:hover .menu-wrapper {
    visibility: visible;
    top:60%;
    opacity: 1;
}
.menu-wrapper > div {
    box-shadow: 0 10px 30px rgba(50,50,93,.12), 0 -1px 4px rgba(0,0,0,.06);
    position: relative;
    display: flex;
    z-index: 99;
    border:1px solid #eee;
}