@import '../../base';
.pagination {
    width: 1220px;
    height: auto;
    margin: 0 auto;
    border-radius:10px;
    display: flex;
    position: relative;
    justify-content: space-between;
    z-index: 10000;
    align-items: center;
    border: 1px solid lightgray;
    box-shadow: 0 2px 10px rgba(31, 45, 61, 0.16);

}
.pagination > * {
    height: 50px;
    font-size: 18px;
}

.pagination button {
    margin: 5px;
}
.pagination input {
    width: 100px;
    height: 45px;
    border: 1px solid lightgray;
    box-shadow: 0 2px 10px rgba(31, 45, 61, 0.16);    outline: none;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    font-size: 18px;
}
.pagination .input-wrapper hq {
    margin: 20px;
}