.product-row {
   justify-content: center;
   display: flex;
   flex-wrap: wrap;
  .slick-track{
    width:0!important;
  }
}
.carousel-wrapper {
  width: 1220px;
  margin: 0 auto;
  text-align: center;
}