@import '../../base';

.product-card {
  display: inline-block;
  height: 360px;
  width: 280px;
  position: relative;
  overflow: hidden;
  border-radius: $radius;
  box-shadow: $basic-shadow;
  margin: 1rem;
  img {
    width: 100%;
  }
}
.product-card-detail{
  position: absolute;
  text-align: center;
  background: white;
  width: 100%;
  height: 100px;
  transition-duration: 300ms;
  bottom: -6%;
}
.product-card:hover .product-card-detail {
  bottom: 10%;
}
.view-product {
  border: 1px solid #eee;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #6f9ded;
  border-radius: 5px;
  color: white;
  transition: 200ms;
  &:hover {
    background: #79a3ed
  }
}
.add-to-card-small {
  background: #3ecf8e;
  color: white;
  outline: none;
  height: 45px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  padding: 10px 15px;
  box-shadow: 0 3px 6px rgba(229, 170, 97, 0.15), 0 1px 3px rgba(0, 0, 0, 0.11);
  transition: 200ms;
  &:hover {
    background: rgba(62, 207, 142, 0.85);
  }
}
.product-details-bottom {
  display: flex;
  align-items: center;
  padding: 5px;
  * {
    margin: 2px ;
    flex-grow: 4;
  }
}
.product-card h2 {
  font-size: 18px;
  margin: 12px;
}
.product-price {
  font-family: bold;
  font-size: 21px;
}
.product-card-detail{
  h2{
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 0 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}