@import "src/base";
.active {
  -webkit-box-shadow:inset 0px 0px 0px 3px $success-color-light;
  border-radius: 5px;
}
.select-item {
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
  transition: 300ms;
}