@import '../../base';
.modal-wrapper {
  .modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.87);
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    .modal-content {
      margin-top: 10%;
      border: 1px solid #45424e;
      border-radius: 5px;
      padding: 1rem;
    }
    .close-modal {
      position: absolute;
      font-size: 40px;
      padding: 0.3rem;
      background: #c1c1c1;
      border-radius: 100%;
      top: 5%;
      left: 5%;
      &:hover{
        color: white;
        background: $primary-color;
      }
    }
  }
  span {
    cursor: pointer
  }
}
.modal-title {
  padding: 0 0.6rem;
  transition: $default-transition-duration;
  &:hover{
    color: $success-color;
  }
}