@import "../../base";
.user-card-panel-header{

}
.user-card-panel-footer {
  background: white;
  width: 100%;
  min-height: 150px;
  position: absolute;
  bottom: 0;
  .order-now {
    width: 90%;
    margin: 0 auto;
    background: $primary-color;
    border: none;
    outline: none;
    color: white;
    border-radius: $radius;
    padding: 1rem;
    font-size: 16px;
    margin: 1rem 1.2rem;
    padding: 1rem 1.2rem;
    cursor: pointer;
  }
}