@import "../../base";
.user-card-panel-header{
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 0 1.2rem;
}
.user-card-panel-footer {
  background: white;
  width: 100%;
  position: absolute;
  bottom: 0;
  .final-price{
    display: flex;
    margin: 1rem 1.2rem;
    padding: 1rem 1.2rem;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    justify-content: space-between;
  }
  .order-now {
    width: 90%;
    margin: 0 auto;
    background: $primary-color;
    border: none;
    outline: none;
    color: white;
    border-radius: $radius;
    padding: 1rem;
    font-size: 16px;
    margin: 1rem 1.2rem;
    padding: 1rem 1.2rem;
    cursor: pointer;
  }
}