@keyframes loadingAnimation {
  0%{ transform: scale(1) }
  10%{ transform: scale(1.1) }
  20%{ transform: scale(1.2) }
  30%{ transform: scale(1.3) }
  40%{ transform: scale(1.4) }
  50%{ transform: scale(1.5) }
  60%{ transform: scale(1.4) }
  70%{ transform: scale(1.3) }
  80%{ transform: scale(1.2) }
  90%{ transform: scale(1.1) }
  100%{ transform: scale(1) }
}
.loading-dot{
  height: 10px;
  width: 10px;
  border: 3px solid #c1ea9b;
  border-radius: 100%;
  display: inline-block;
  animation: loadingAnimation;
  animation-duration: 500ms ;
  animation-iteration-count: infinite;
  margin: 0.5rem;
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}