.wizard-tab {
  width: 1200px;
  margin: 0 auto;
  overflow: auto;
  padding-top: 3rem;
  text-align: center;
}
.wizard-navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
}