.breadcrumbs {
    margin-left: 2rem ;
}
.breadcrumbs a {
    color:  #45424e;
    text-decoration: none;
    padding-top:50px!important;

}
.breadcrumbs a:hover {
    color: #e5aa61;
}
.breadcrumbs a:after {
    content: "  / " ;
}
.breadcrumbs a:last-child:after {
    content: ""!important;
}