@import '../../base';
.header-wrapper {
    background: url('../../assets/wave.svg') no-repeat ;
    background-position: center;
    background-size: cover;
    padding: 2rem;
    position: relative;
    z-index:1000;
}
header {
    margin: 0 auto;
    width: 1200px;
    background: white;
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    border-radius: $radius;
    box-shadow: 0 10px 30px 5px rgba(50,50,93,.12), 0 -1px 4px rgba(0,0,0,.06);
}
header > div {
    width: 400px;
    display: flex;
    align-items: center;
}
header > div > * {
    padding: 0.5rem 1rem;
}
header .logo {
    width: 50px;
    transform: rotate(-45deg);
    opacity: 0.7;
    border-radius: 30px;
}
header .menu a {
    font-weight: normal;
    border-radius: 20px;
    transition-duration: 100ms;
    padding: 0.5rem 1rem;
}
header .menu a:hover {
    color: white;
    background: rgba(0, 0, 0, 0.66);
}