@import '../../base';
.header-wrapper {
    background: url('/src/assets/wave.svg');
    margin-top: 2rem;
}
header {
    margin: 0 auto;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: $radius;
    padding: 2rem;
    box-shadow: 0 10px 30px rgba(50,50,93,.12), 0 -1px 4px rgba(0,0,0,.06);
    position: relative;
}
header > div {
    width: 400px;
    display: flex;
    align-items: center;
}
header > div > * {
    padding: 0.5rem 1rem;
}
header .logo {
    width: 120px;
}
header a {
    font-weight: normal;
    border-radius: 20px;
    transition-duration: 100ms;
    padding: 0.5rem 1rem;
}
header a:hover {
    color: white;
    background: rgba(0, 0, 0, 0.66);
}