$font-family: 'Raleway', sans-serif;
$bg-color: #fff;
$primary-color: #3fa33f;
$success-color: #3ecf8e;
$danger-color: #ff0000;
$warning-color: #ff5613;
$bg-success: green;
$gray-color: #525252;
$radius: 5px;
$basic-shadow: 8px 5px 20px 2px #eee;
$default-transition-duration: 200ms;

