$font-family: 'Raleway', sans-serif;
$bg-color: #fff;
$primary-color: #3fa33f;
$success-color: #3ecf8e;
$danger-color: #ff0000;
$warning-color: #ff5613;
$bg-success: green;
$gray-color: #525252;
$radius: 5px;
$basic-shadow: 0 2px 10px rgba(31,45,61,.16);
$default-transition-duration: 200ms;

