@media only screen and (min-device-width : 320px) and (max-device-width : 460px){
  body {
    overflow-x: hidden;
  }
  .header-wrapper {
    padding: 0.5rem;
  }
  header {
    width: 99%;
    position: relative!important;
    padding: 0;
    margin-top: 10px;
    >div {
      > * {
        padding: 0.2rem 1rem!important;
      }
    }
    .menu {
      display: none!important;
    }
    img {
      width: 38px!important;
    }
    .search-wrapper {
      position: unset;
      .search {
        width: 100%;
        left: 0;
        top:0;
      }
    }
  }
  .user-account-modals {
    display: none!important;
  }
  .products-row{
    width: unset!important;

  }
  .input-search-box{
    line-height: 43px;
  }
//  right side panel
  .panel-open {
    width: 270px!important;
    h1 {
      font-size: 14px;
    }
    .user-card-panel-footer {
      min-height: unset;
    }
  }
  .container {
    width: 100% !important;
    > div {
      display: flex;
      flex-direction: column-reverse;
        img {
          width:100%;
        }
    }
    button {
      width: 70% !important;
    }
  }
  .banners-index {
    width: unset!important;
    display: unset!important;
    .banner-item,a {
      height: unset!important;
      width: 100% !important;
      margin: 0!important;
      flex-direction: column!important;
    }
    .VQ4-gs-main {
      width: 100%!important;
      height: unset!important;
      margin: 0!important;
    }
  }

//  product card
  .product-card {
    width: 90% !important;
    height: 430px!important;
  }
  .add-to-card-small {
    position: absolute;
    top: 3%;
    left: 3%;
  }
  .product-card-detail {
    position: unset!important;
  }
  .view-product {
    display: none!important;
  }
//  title
  .title {
    font-size: 22px!important;
  }
//  container
  .container {
    p{
      color: #616161;
    }
    h2{
      font-size: 22px!important;
    }
  }
//  slick slider
  .slick-track {
    .slick-slide {
      padding: 0 0.4rem;
    }
  }
  .slick-slide {
    .product-card {
      height: 390px!important;
      width: 98% !important;
    }
  }
  .slick-arrow{
    display: none!important;
  }
//  benefits
  .benefits {
    width: 100%;
    display: unset!important;
    text-align: center;
  }
  .benefits-item {
    width: unset!important;
    *{
      margin: 0.2rem;
    }
  }
//  instagram images
  .instagram-wrapper {
    .Gwry-19 {
      width: unset!important;
      text-align: center;
    }
    padding: 0!important;
    margin: 0!important;
    background: none
  ;
  }
  .instagram-images {
    width: 100%;
    div {
      width: 100% !important;
      display: block!important;
      img {
        width: 100% !important;
      }
    }
  }
//  footer
  .footer-top {
    width: unset!important;
    display: unset!important;
  }
  .banner-item {
    padding: 0.5rem;
    * {
      margin: 0.5rem 0;
    }
  }
}