@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .header-wrapper {
    padding: 0.5rem;
    header {
      padding: 0;
      position: relative;
      .modal-wrapper {
        visibility: hidden;
      }
    }
  }
  .product-card {
    width: 90%;
    height: 440px;
    margin:  0.5rem;
    position: relative;
    .product-card-detail{
      position: unset;
    }
    .add-to-card-small {
      position: absolute;
      top: 2%;
      left: 2%;
    }
    .view-product,.add-to-card-small{
      visibility: hidden;
    }
  }
  .container {
    width: 99%;
    img {
     display: none;
    }
  }
  .banners-index {
    height: 2200px ;
    width: 100%;
    display: unset!important;
    div {
      width: 100%!important;
      height: 400px!important;

    }
  }

}
