@import 'base';

body {
  background-color: $bg-color;
  font-family: $font-family;
}
a {
  text-decoration: none;
  color: inherit;
}
h1,h2,h3,h4,h5 {;
  padding: 0.5rem 0 ;
  margin: 0.5rem 0;
}
*{
  margin: 0;
  padding: 0;
  user-select: none;
}
p {
  line-height: 1.8rem;
  font-size: 18px;
}
body {
  margin: 0;
  padding: 0;
  background-color: $bg-color;
}
ul {
  list-style: none;
  padding: 0;
}
.container {
  width: 1200px;
  display: flex;
  margin: 0 auto;

}
.logo {
  width: 50px;
  transform: rotate(-45deg);
  opacity: 0.7;
  border-radius: 30px;
}


.about-us-index p {
  text-align: center;
}
.Hexagon-sticker-index {
  display: flex;
  align-items: center;
}
.banners-index {
  padding: 0;
  width: 1200px;
  margin: 0 auto;
  display:flex;
}
.banners-index div div  {
  margin: 0.4rem;
}
.banners-index > div {
  margin: 0.2rem;
}
.banner-image {
  width: 60%;
}
.banner-button {

}
.material-icons {
  cursor: pointer;
  transition: $default-transition-duration;
  &:hover{
    color: $gray-color;
  }
}
.p-1{
  padding: 1.5rem;
}
