/*public*/
* {
    font-family: 'Roboto', sans-serif;;
}
a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.76);
}


body {
    margin: 0;
    padding: 0;

}
ul{
    list-style: none;
    padding: 0;
}
.container {
    width: 1200px;
    display: flex;
    margin: 0 auto;
}
.styled-title {
    text-align: center;
}
.styled-title:before {
    content: "";
    display: block;
    margin: 0 auto 15px;
    height: 1px;
    width: 80px;
    background: orange;
}
.styled-title:after {
    content: "";
    display: block;
    margin: 15px auto;
    height: 1px;
    width: 80px;
    background: orange;
}
.width-50{
    width: 50%;
    display: inline-block;
}
.footer {
    background: orange;
}