.product-images{
    width: 470px;
}
.product-images img {
    border-radius: 10px;
}
.carousel .thumb.selected, .carousel .thumb:hover {
    border: none!important;
}
.thumb {
    width: 100px!important;
}
.thumbs {
    padding: 0 ;
}
.thumbs-wrapper {

    margin: 0!important;
    padding :0 ;
}
.carousel-arrow {
    position: absolute;
    top: 45%;
}
.carousel-arrow svg {
    width: 70px;
    height: 70px;
    cursor: pointer;
    fill: rgba(69, 66, 78, 0.57);
    transition: 200ms;
    padding: 0 10px;
}
.carousel-arrow svg:hover{
    fill: #525252;
}
.carousel-arrow-right {
    right: 0;
    z-index: 1;
    transform: rotate(180deg);
}
.selected{
    border: none;
}