@import 'src/base';
.footer {
  margin-top: 2rem;
  .logo {
    width: 80px;
  }
  .contact-info {
    img {
      width: 18px;
      margin: 0 1rem;
      cursor: pointer;
    }
  }
  .footer-top {
    width: 1200px;
    margin: 0 auto;
    border: 1px solid #eee;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .footer-item {
      display: flex;
      flex-direction: column;
    }
    h5{
      font-size: 18px;
    }
    a {
      display: block;
      margin: 1rem;
      font-weight: normal;
      border-radius: 20px;
      transition-duration: 100ms;
      padding: 0.5rem 1rem;
      &:hover {
        color: white;
        background: rgba(0, 0, 0, 0.66);
      }
    }
  }
  .footer-bottom {
    padding: 1rem;
    text-align: center;
    background-color: white;
  }
}
